html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}

#sky {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#0f2129, #47334a);
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

/* This is the sky when there is a lighting */
#lighting-sky {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#357590, #77557c);
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  opacity: 0;
}

@keyframes lightingAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#rain-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.droplet {
  position: absolute;
  width: 1vh;
  height: 2vh;
  border-radius: 35%;
  background-color: #a3a3a3;
  top: -20px;
  z-index: 1;
  will-change: transform;
}

/* This animation is attached via Js */
@keyframes dropletAnimation {
  from {
    transform: rotate(5deg) translateY(0);
  }
  to {
    transform: rotate(5deg) translateY(calc(100vh + 20px));
  }
}

#cloud-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cloud {
  position: absolute;
  width: 100%;
  height: 30%;
  background-color: #5a5a5a;
  border-radius: 50%;
  top: -20%;
  opacity: 0.6;
  z-index: 2;
  will-change: transform;
  animation: cloudAnimation 3s linear infinite alternate;
}

@keyframes cloudAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(5%);
  }
}

.animation-paused {
  animation-play-state: paused;
}

#volume-slider {
  appearance: none;
  width: 100%;
  height: 10px;
  background: #5a5a5a;
  border-radius: 5px;
  opacity: 0.3;
}

#volume-slider:hover {
  opacity: 1;
  transition: opacity 0.1s;
}

#volume-slider::-webkit-slider-thumb,
#volume-slider::-moz-range-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #a3a3a3;
  border-radius: 50%;
  cursor: pointer;
}

#volume-slider::-webkit-slider-thumb:hover,
#volume-slider::-moz-range-thumb:hover {
  transform: scale(5);
  transition: transform 0.1s;
}

.audio-player {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.play,
.pause {
  background-color: #5a5a5a;
  opacity: 0.3;
  width: 100px;
  height: 100px;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.play:hover,
.pause:hover {
  transform: scale(1.05);
  transition: transform 0.1s;
  opacity: 1;
  transition: opacity 0.1s;
}

.pause {
  clip-path: polygon(
    0% 0%,
    0% 100%,
    33% 100%,
    33% 0,
    66% 0,
    66% 100%,
    33% 100%,
    33% 100%,
    100% 100%,
    100% 0%
  );
}
